<!DOCTYPE html>
<html>
  <head>
    <title>Bykes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('bike-icon.png') %>
  </head>

  <body>
    <%- if user_signed_in? || admin_signed_in? %>
      <nav class="navbar navbar-light bg-light">
        <%= link_to 'Bikes', root_path %>
        <ul class="nav justify-content-end">
          <%- if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Edit profile ', edit_user_registration_path, class: 'btn btn-primary btn-sm m-1' %>
            </li>
            <li class="nav-item">
              <%= link_to ' Exit', destroy_user_session_path, method: :delete, class: 'btn btn-danger btn-sm m-1' %>
            </li>
          <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to ' Exit', destroy_admin_session_path, method: :delete, class: 'btn btn-danger btn-sm m-1' %>
            </li>
          <% end %>
        </ul>
      </nav>
    <% end %>
    <div class='p-2'>
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>" role="alert">
          <%= value %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
